<table class="table table-dark table-striped">
<thead>
<tr>
<th>user</th>
<th>email</th>
<th>address</th>
<th>phone</th>
</tr>
</thead>
<tbody>
<% @users.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
    </tr>
<% end %>
</tbody>
</table>